@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins',sans-serif;
    overflow-x: hidden;
}
#first, #second,#three,#four{
    height: 100vh;
    width: 100%;
}
#footer{
    position: relative;
    width: 101%;
    height: 257px;

    background: #000000;
}
/* FIRST */

.container{
    position: absolute;
    width: 366px;
    height: 100vh;
    left: 0px;
    top: 0px;

    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(4px);
}
.container h1{
    position: absolute;
    width: 350px;
    height: 121px;
    left: 16px;
    top: 58px;

    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 96px;
    text-align: center;

    color: #FFFFFF;
}
.container p{
    position: absolute;
    width: 314px;
    height: 248px;
    left: 34px;
    top: 208px;

    font-style: italic;
    font-weight: 300;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #FFFFFF;
}
.fullscreen-bg {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.fullscreen-bg__video {
    position: absolute;
    left: 50%;
    top: 50%;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 0;
}
.nav-buttons{
    position: absolute;
    right: 0;
    top: 0;
}
.nav-btn1{
    position: relative;
    width: 300px;
    height: 57px;
    top: 12px;
    margin-right: 145px;
    border-radius: 10px;

    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(4px);
}
.nav-btn1 h2{
    position: absolute;
    width: 112px;
    height: 57px;

    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 54px;
    text-align: center;

    color: #000000;
}
.nav-btn2,.nav-btn4{
    position: absolute;
    width: 112px;
    height: 57px;
    right: 0;
    top: 12px;
    margin-right: 5px;
    border-radius: 10px;
    align-content: center;

    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(4px);
}
.nav-btn4{
    background: rgba(0, 0, 0, 0.7);
}

.burger1 .fa-bars{
    color: #fff;
}
.nav{
    position: absolute;
    height: 100vh;
    width: 860px;
    top: 0px;
    right: -10px;
    background-color: rgba(255, 255, 255, 0.75);
    z-index: 5;
    backdrop-filter: blur(4px);
    -webkit-transform: translateX(110%);
    -moz-transform: translateX(110%);
    -ms-transform: translateX(110%);
    transform: translateX(110%);
    transition: transform 0.35s ease-in;
 
}
.nav-links{
    
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.nav-links li a:hover{
    font-size: 40px;
    font-weight: 300;
}
.nav-active{
    display: block;
    transform: translateX(0%);
}
.nav ul li a{
    right: 0;
    color: #000;
    font-weight: 200;
}
.burger,.burger1{
    z-index: 6;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    cursor: pointer;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #000000;
}

/* SECOND */

#second{
    background-image: url('img/cover.jpg');
    background-size: cover;
}
.title-box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 73px;
    top: 20px;
    backdrop-filter: blur(4.5px);
}
.title{
    font-weight: 300;
    font-size: 64px;
    line-height: 96px;
    text-align: center;
    color: #fff;
    
}
.big-container{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    top: 4%;
}
.intro-box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 590px;
    height: 419px;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(1.5px);
    border-radius: 25px;
    margin-left: 2%;
}
.intro{
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #000000;
}
.me{
    position: relative;
    width: 327px;
    height: 404px;
    border-radius: 30px;
}

/* THIRD */

#three{
    background: linear-gradient(325deg, rgba(0,0,0,1) 0%, rgba(29,21,21,1) 35%, rgba(0,0,0,1) 100%);
}
.gallery-heading-box{
    position: relative;
    width: 100%;
    margin-top: 2px;
}
.gallery-heading{
    font-weight: 200;
    font-size: 64px;
    line-height: 96px;
    text-align: center;
    color: #fff;
}
.gallery-text-box{
    position: relative;
    width: 100%;
    margin-top: 20px;
}
.gallery-text{
    font-weight: 200;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #fff;
}
.image-box-container{
    display: flex;
	justify-content: center;
    align-items: center;
    margin-top: 150px;
}
.image-box{
	position: relative;
	width: 200px;
	height: 200px;
	transform-style: preserve-3d;
	animation: animate 10.5s linear infinite;

}
@keyframes animate{
	0%{
		transform: perspective(1000px) rotateY(0deg);
	}
	100%{
		transform: perspective(1000px) rotateY(360deg);
	}

}
.image-box span{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform-origin: center;
	transform-style: preserve-3d;
	transform: rotateY(calc(var(--i)* 45deg)) translateZ(300px);
	-webkit-box-reflect :below 0px linear-gradient(transparent,transparent,#0004);
}
.image-box span img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;

}

/* FOURTH */

.project-heading-box{
    position: relative;
    width: 100%;
}
.project-heading{
    font-weight: 300;
    font-size: 64px;
    line-height: 96px;
    text-align: center;
    color: #000;
}
.description-box{
    margin-left: 8%;
    width: 80%;
    height: 60vh;
}
.description{
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #000000;
}
.game-link-box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30%;
    position: relative;
    width: 35%;
    height: 10vh;
    padding: 2%;
    background: black;
}
.game-link{
    font-weight: 200;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 4px;
    color: #FFFFFF;
    transition: 0.2s ease-in-out;
}
.game-link-box:hover{
    background-color: white;
    color: black;
    font-weight: 300;
    cursor: pointer;
    border: black solid 2px;
    box-shadow: 0 0 5px grey,
                0 0 25px grey,
                0 0 50px grey
                0 0 200px grey;

}

/* FOOTER */

.name{
    position: relative;
    width: 50%;

    font-style: normal;
    font-weight: 100;
    font-size: 25px;
    line-height: 54px;
    text-align: left;
    padding-left: 1.2%;

color: #FFFFFF;
}
.location{
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 2%;
font-style: normal;
font-weight: 100;
font-size: 36px;
line-height: 54px;
text-align: center;

color: #FFFFFF;
}
.mail{
    position: relative;
width: 100%;
left: 12px;
font-style: normal;
font-weight: 200;
font-size: 36px;
line-height: 54px;
text-align: left;

color: #FFFFFF;

}
.social{
    position: absolute;
    width: 100%;
    margin-top: 24px;
    padding: 0.5%;
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    
    color: #FFFFFF;
}
.social:hover{
    background-color: white;
    color: #000;
    width: 100%;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    font-style: normal;
    font-weight: 100;
    font-size: 24px;
    line-height: 36px;
    margin-top: 80px;
}
a{
    text-decoration: none;
    color: #FFFFFF;
}
a:hover{
    color: gray;
}
::-webkit-scrollbar {
    width: 10px;
  }
::-webkit-scrollbar-track {
box-shadow: inset 0 0 50px grey; 
}
::-webkit-scrollbar-thumb {
background : black; 
}
::-webkit-scrollbar-thumb:hover {
background: grey; 
}

/* MOBILE*/

@media screen and (max-width:768px){
    #first,#second,#three,#four,#footer{
        width: 100%;
    }
    #footer{
        height: 25%;
    }
    .container{
        width: 100%;
    }
    
    .nav-btn1,.nav-btn2{
        display: flex;
        justify-content: space-around;
    }
    .nav-btn1{
        background-color: transparent;
    }
    .nav{
        width: 100%;
    }
    .me{
        display: none;
    }
    .image-box{
        width: 190px;
        height: 190px;
    }
    .project-heading,.title{
        font-size: 40px;
    }
    .title{
        color: #000;
    }
    .intro-box{
        height: 80%;
        width: 90%;    
    }
    .intro{
        font-size: 15px;
    }
    .description-box{
        position: relative;
        height: 75%;
        width: 100%;
        margin: 6px;
        align-items: center;
    }
    .description{
        height: 60%;
        font-size: 14px;
        padding: 2%;
    }
    .game-link-box{
        height: 35px;
        width: 55%;
    }
    .game-link{
        font-size: 12px;
    }
    .name,.mail,.location,.social{
        font-size: 24px;
    }
    .location{
        position: absolute;
        top: 0;
    }
    .media-platforms ul li{
        font-size: 12px;
    }
    ::-webkit-scrollbar {
        width: 5px;
      }
}
